In [1]:
import pandas as pd

# Reading Data

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreathing  infectionProb
0   99.826717         0   38          1             -1              0
1  100.520773         1   78          1              1              1
2  100.242621         0   67          0             -1              1
3   99.286910         1   26          0             -1              1
4   98.338993         1    2          0             -1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreathing  infectionProb
2194   98.896749         1   97          0              0              1
2195   98.720863         1    1          1              1              1
2196   99.315499         0   69          0              1              0
2197  100.513415         0   75          0              0              0
2198   98.982647         0   52          0              1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2199 non-null   float64
 1   bodyPain       2199 non-null   int64
 2   age            2199 non-null   int64
 3   runnyNose      2199 non-null   int64
 4   diffBreathing  2199 non-null   int64
 5   infectionProb  2199 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 103.2 KB

In [6]:
df['diffBreathing'].value_counts()

-1    746
 0    732
 1    721
Name: diffBreathing, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreathing,infectionProb
count,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000,2199.000000
mean,99.966697,0.506594,50.320146,0.502501,-0.011369,0.515234
std,1.153385,0.500070,28.759369,0.500107,0.816882,0.499882
min,98.003691,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.978318,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.934934,1.000000,51.000000,1.000000,0.000000,1.000000
75%,100.963876,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.999620,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
  np.random.seed(42)
  shuffled = np.random.permutation(len(data))
  test_set_size = int(len(data)*ratio)
  test_indices = shuffled[:test_set_size]
  train_indices = shuffled[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
train, test = data_split(df,0.2)

In [11]:
train

           fever  bodyPain  age  runnyNose  diffBreathing  infectionProb
1435  101.199719         0   11          1              0              1
891   100.151626         1   69          1              0              1
874    99.892261         1   10          1             -1              0
1178   98.295476         1   87          0              1              0
162    99.890855         1   34          0              1              0
...          ...       ...  ...        ...            ...            ...
1638   98.130880         0   10          1             -1              0
1095   98.869249         1   47          1              0              1
1130  101.103256         0   49          0              1              1
1294  101.289728         0   95          1              0              0
860   100.856270         0   17          1             -1              0

[1760 rows x 6 columns]

In [12]:
test

           fever  bodyPain  age  runnyNose  diffBreathing  infectionProb
427    99.053024         0   99          0              0              1
1128  100.913815         0   36          1              0              1
367   101.002547         0   73          1              1              1
1772  100.940417         1   33          0              1              1
350   100.183018         1   90          1              1              1
...          ...       ...  ...        ...            ...            ...
71    100.801186         0   62          1             -1              0
1182   98.871497         1   61          0              0              1
1956   98.705005         1    7          0             -1              1
479   100.155182         1   10          1              0              1
680    99.190522         0   82          1              1              0

[439 rows x 6 columns]

In [13]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreathing']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreathing']].to_numpy()

In [14]:
Y_train = train[['infectionProb']].to_numpy().reshape(1760,)
Y_test = test[['infectionProb']].to_numpy().reshape(439,)

In [15]:
Y_train

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [24]:
inputFeatures = [110,1,22,0,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [25]:
infProb

0.5116039944975802